<!DOCTYPE html>

<html>

{% include head.html %}

<body>

  {% include navbar.html %}

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <!--================My Tabs Area =================-->
  <section class="mytabs_area p_120" id="">
      <div class="container">
          <div class="tabs_inner">
              <span id="pt">
                  <ul class="nav nav-tabs" id="myTab" role="tablist">
                      <li class="nav-item">
                          <a class="nav-link active" data-toggle="tab" href="#home" role="tab"
                              aria-controls="home" aria-selected="true">Experiência</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" data-toggle="tab" href="#profile" role="tab"
                              aria-controls="profile" aria-selected="false">Educação</a>
                      </li>
                  </ul>
              </span>
              <div class="tab-content" id="myTabContent">
                  <div class="tab-pane fade show active" id="home" role="tabpanel"
                      aria-labelledby="home-tab">
                      <ul class="list">
                          <li>
                              <span class="radius"></span>
                              <div class="media">
                                  <div class="d-flex">
                                      <p id="pt">Set 2020 - Atualmente</p>
                                  </div>
                                  <div class="media-body">
                                      <a href="https://www.ibm.com/" target="_blank"
                                          title="Abre em nova aba" rel="noopener noreferrer">
                                      <h4>IBM</h4>
                                      <p><span lang="en">Data Science Consultant</span><br />São Paulo, SP</p>
                                  </div>
                              </div>
                          </li>
                          <li>
                              <span class="radius"></span>
                              <div class="media">
                                  <div class="d-flex">
                                      <p id="pt">Agost 2020 - Set 2020</p>
                                  </div>
                                  <div class="media-body">
                                      <a href="https://www.ibm.com/" target="_blank"
                                          title="Abre em nova aba" rel="noopener noreferrer">
                                      <h4>IBM</h4>
                                      <p><span lang="en">Estagiária em Data Science</span><br />São Paulo, SP</p>
                                  </div>
                              </div>
                          </li>
                          <li>
                              <li>
                                  <span class="radius"></span>
                                  <div class="media">
                                      <div class="d-flex">
                                          <p id="pt">Jan 2020 - Atualmente</p>
                                      </div>
                                      <div class="media-body">
                                          <a href="https://aigirlsbr.github.io/index.html" target="_blank"
                                              title="Abre em nova aba" rel="noopener noreferrer">
                                          <h4>AI Girls</h4>
                                          <p><span lang="en">Cofundadora</span><br /></p>
                                      </div>
                                  </div>
                              </li>
                              <span class="radius"></span>
                              <div class="media">
                                  <div class="d-flex">
                                      <p id="pt">Jul 2019 - Agost 2020</p>
                                  </div>
                                  <div class="media-body">
                                      <a href="https://www.ibm.com/" target="_blank"
                                          title="Abre em nova aba" rel="noopener noreferrer">
                                      <h4>IBM</h4>
                                      <p><span lang="en">Estagiária em Data Analytics</span><br />São Paulo, SP</p>
                                  </div>
                              </div>
                          </li>
                          <li>
                              <span class="radius"></span>
                              <div class="media">
                                  <div class="d-flex">
                                      <p id="pt">Out 2018 - Jul 2019</p>
                                  </div>
                                  <div class="media-body">
                                      <a href="https://www.ibm.com/" target="_blank"
                                          title="Abre em nova aba" rel="noopener noreferrer">
                                      <h4>IBM</h4>
                                      <p><span lang="en">Estagiária em DevOps</span><br />São Paulo, SP</p>
                                  </div>
                              </div>
                          </li>
                          <li>
                              <span class="radius"></span>
                              <div class="media" style="margin-top:30px">
                                  <div class="d-flex">
                                      <p id="pt">Jan 2018 - Set 2018</p>
                                  </div>
                                  <div class="media-body">
                                      <a href="https://www.fcamara.com.br/" target="_blank"
                                          title="Abre em nova aba" rel="noopener noreferrer">
                                          <h4>FCamara</h4>
                                      </a>
                                      <p id="pt">Analista de teste/QA<br />São Paulo, SP</p>
                                  </div>
                              </div>
                          </li>
                      </ul>
                  </div>
                  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                      <ul class="list">
                          <!-- <li>
                              <span class="radius"></span>
                              <div class="media">
                                  <div class="d-flex">
                                      <p>2020 - 2021</p>
                                  </div>
                                  <div class="media-body">
                                      <h4><abbr title="Universidade de São Paulo">USP</abbr></h4>
                                      <p id="pt">Mestrado em Inteligência Artificial<br />São
                                          Paulo, SP</p>
                                  </div>
                              </div>
                          </li> -->
                          <li>
                              <span class="radius"></span>
                              <div class="media">
                                  <div class="d-flex">
                                      <p>2017 - Atualmente</p>
                                  </div>
                                  <div class="media-body">
                                      <h4><abbr title="Universidade Anhembi Morumbi">UAM</abbr></h4>
                                      <p id="pt">Bacharelado em Ciência da Computação <br />São
                                          Paulo, SP</p>
                                  </div>
                              </div>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!--================End My Tabs Area =================-->    
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

  {% include footer.html %}

  {% include scripts.html %}

  {% include google-analytics.html %}

</body>

</html>